# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data
data/

# Local DB / heavy artifacts
*.duckdb
*.wal
*.tmp
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Build / cache
.pytest_cache/
.mypy_cache/